<div id="quienesSomos" style="background-color: #091732; padding: 4rem 0 5rem ;">
    <h2 class="text-center mb-4 mb-3" style="color: #fff; font-size: 3rem;">¿Quiénes somos?</h2> 
    <div class="text-wrap text-center container-fluid" style="width: 90%; color:#fff;" >
        <p class="fs-5">Somos una Asociación Civil de Lucha contra la Parálisis Infantil radicada en Cañada de Gómez, provincia de Santa Fe. </p>
        <p class="fs-5">El 20 de noviembre de 1967, se crea en la ciudad, una filial de la Asociación Rosarina de Lucha contra la Parálisis Infantil (A.R.L.P.I) por iniciativa de la Srta. Dolores Odorizzi y el Dr. Alberto Di Paola. En un primer momento, esta filial apoyó los programas nacionales de vacunación antipoliomielítica. Cuando esa tarea quedó a cargo de los efectores públicos de salud, se comenzaron a prestar los siguientes servicios según los requerimientos de la comunidad: fonoaudiología, psicología y fisioterapia. </p>
        <p class="fs-5">En febrero de 2005 la filial de Cañada de Gómez se independiza de A.R.L.P.I y se constituye como Asociación Civil para la Lucha contra la Parálisis Infantil de Cañada de Gómez ( A.L.P.I.C)</p>
    </div>
</div>
