<body>
    <section id="PregResp">
        <article class="container-xl" style="background:#004381;color:#fff;border-radius:15px;shadow-box:rgba(0,0,0,.5);    ">    
            <h3 class=" text-center">¿Donde esta A.L.P.I.C.?</h3>
            <p>La Asociación Civil para la Lucha contra la Parálisis Infantil funciona en su casa propia  en Ocampo 735. La misma cuenta con:</p>
            <ul>
                <li>Sala de reuniones.</li>
                <li>Recepción.</li>
                <li>Tres consultorios destinados a Kinesiología.</li>
                <li>Depósito para los elementos ortopédicos.</li>
                <li>Dos baños (uno para discapacitados).</li>
                <li>Una cocina.</li>
                <li>Un patio.</li>
            </ul>
            <h3 class=" text-center">¿Qué servicios ofrece?</h3>
            <ul>
                <li>Prestación de elementos ortopédicos a  toda la comunidad de Cañada de Gómez.</li>
                <li>Kinesiología gratuita a pacientes sin cobertura de obra social.</li>
            </ul>
            <h3 class=" text-center">¿Cuáles son las condificones para acceder a estos servicios?</h3>
            <p>   Los elementos están disponibles para toda la sociedad, la única condición es que el paciente se encuentre
                  en su domicilio particular. Es una prestación para la emergencia, mientras se gestiona ante la obra social
                  el elemento requerido si éste va a ser utilizado por un tiempo prolongado o permanente.</p>
            <ul>
                <li style="list-style:none">a) Se cuenta con los siguientes elementos ortopédicos:</li>
                <li>Muletas.</li>
                <li>Bastones.</li>   
                <li>Silla de ruedas.</li>    
                <li>Camas ortopédicas.</li>
                <li>Inodoros portátiles.</li>
                <li>Cabestrillos.</li>
                <li>Colchones antiescaras.</li>
                <li>Mesitas para las camas.</li>
                <li style="list-style:none">b) En Kinesiología:</li>
                <li>No poseer Obra social.</li>
                <li>Prescipción del médico tratante.</li>
            </ul>
            <h3 class=" text-center">¿Cómo se financia?</h3>
            <p>Como toda Asociación Civil, es una persona jurídica que tiene como objeto el bien común sin perseguir fines de lucro para ella o sus miembros.
                La institución necesita generar recursos propios, y lo hace a través de:</p>
            <ul>
                <li>Cuota societaria(abonando una cuota bimestral).</li>
                <li>Socios honorarios.</li>
                <li>Subsidios ocasionales.</li>
                <li>Bonos contribución.</li>
                <li>Colaboración voluntaria en la prestación de elementos.</li>
                <li>Colaboración en memoria de personas fallecidas.</li>
            </ul>
            <h3 class=" text-center">¿Cómo se invierten los ingresos?</h3>
            <ul>
                <li>Pagos de honorarios a profesionales.</li>
                <li>Adquisición y reposición de elementos de kinesiología.</li>
                <li>Mantenimiento de la vivienda.</li>
                <li>Reparación y compra de elementos ortopédicos.</li>
                <li>Pago de servicios.</li>
                <li>Insumos básicos.</li>
            </ul>

        </article>
    </section>
</body>