<div id="PreguntasFrecuentes" style="padding-top: 2rem;" ></div>
<div class="py-4 px-2" id="contenedorPreguntas" style=" background-color:  #2a2d72;border-radius:2rem; margin: 5rem 4rem;">
    <h2  class="text-center" style="color:#fff; padding:1rem 0 ;" >Preguntas frecuentes</h2>
    <div class="container w-auto" style="background: #2a2d72;color:#fff;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" d="flush-headingOne">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background:#2a2d72">
                        <h3>¿Donde esta A.L.P.I.C.?</h3> 
                    </button>
                </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Asociación Civil para la Lucha contra la Parálisis Infantil funciona en su casa propia  en Ocampo 735. La misma cuenta con:</p>
                        <ul>
                            <li>Sala de reuniones.</li>
                            <li>Recepción.</li>
                            <li>Tres consultorios destinados a Kinesiología.</li>
                            <li>Depósito para los elementos ortopédicos.</li>
                            <li>Dos baños (uno para discapacitados).</li>
                            <li>Una cocina.</li>
                            <li>Un patio.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background: #2a2d72">
                       <h3>¿Qué servicios ofrece?</h3>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Prestación de elementos ortopédicos a  toda la comunidad de Cañada de Gómez.</li>
                            <li>Kinesiología gratuita a pacientes sin cobertura de obra social.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="background: #2a2d72">
                        <h3>¿Cuáles son las condificones para acceder a estos servicios?</h3> 
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Los elementos están disponibles para toda la sociedad, la única condición es que el paciente se encuentre
                        en su domicilio particular. Es una prestación para la emergencia, mientras se gestiona ante la obra social
                        el elemento requerido si éste va a ser utilizado por un tiempo prolongado o permanente.</p>
                        <ul>
                            <li style="list-style:none">a) Se cuenta con los siguientes elementos ortopédicos:</li>
                            <li>Muletas.</li>
                            <li>Bastones.</li>   
                            <li>Silla de ruedas.</li>    
                            <li>Camas ortopédicas.</li>
                            <li>Inodoros portátiles.</li>
                            <li>Cabestrillos.</li>
                            <li>Colchones antiescaras.</li>
                            <li>Mesitas para las camas.</li>
                            <li style="list-style:none">b) En Kinesiología:</li>
                            <li>No poseer Obra social.</li>
                            <li>Prescipción del médico tratante.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree" style="background: #2a2d72">
                        <h3>¿Cómo se financia?</h3>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Prestación de elementos ortopédicos a  toda la comunidad de Cañada de Gómez.</li>
                            <li>Kinesiología gratuita a pacientes sin cobertura de obra social.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree" style="background:#2a2d72">
                        <h3>¿Cómo se invierten los ingresos?</h3>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Los ingresos se invierten de la siguiente manera:</p>
                        <ul>
                            <li>Pagos de honorarios a profesionales.</li>
                            <li>Adquisición y reposición de elementos de kinesiología.</li>
                            <li>Mantenimiento de la vivienda.</li>
                            <li>Reparación y compra de elementos ortopédicos.</li>
                            <li>Pago de servicios.</li>
                            <li>Insumos básicos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>