
    <article>
        <section id="Home">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h2 style="font-family: 'Amiko'; color: #2A2D70;">¿QUÉ ES ALPIC?</h2>   
                  </div>
                </div>
                <div class="row"> 
                    <div class="col">
                        <p style="font-family: 'Amiko'">Es la Asociación Civil de Lucha contra la Parálisis Infantil radicada en Cañada de Gómez, provincia de Santa Fe. </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <button style="font-family: 'Amiko'; border-radius: 10px;border: 2px solid #09DDCC; background-color: #2A2D70; color: white; font-size: 1.2em;"><span style="font-size: .8em">QUIERO COLABORAR</span></button>  
                    </div>
                  </div>
              </div>

            <section class="row">
                <div class="col" style="margin-left:2%;">
                    <h4>TURNOS</h4>
                    <p>Kinesiología</p>
                    <button class="btn btn-light">RESERVAR</button>
                </div>
                <div class="col" style="margin-right:2%">
                    <h4 >PRESTAMOS</h4>
                    <p >Elementos ortopédicos y otros</p>
                    <button class="btn btn-light">SOLICITAR</button>
                </div>
            </section>

            <div class="container text-center" style="padding:5%; background: #2A2D70; color:white; font-weight: 600;">
                Fotos de Nuestras Actividades e Institución
            </div>
                <div>
                    <picture class="container text-space-around"><img width="400px" src="./../../assets/banner2alpic.jpg" alt="banner de actividades" style="margin:0% -3%;"></picture>
                        <div class="text0"><span>Institución</span><span>Kinsiología</span><span>Actividades</span><span>Comunidad </span></div>
                </div>

            <section>
                <h5 class="container text-center">INFORMACIÓN IMPORTANTE</h5>
                    <picture>
                       <div class="row">
                        <div class="col"> <img width="70%" src="./../../assets/discapacidadimg.jfif" alt="imagen de personas con discapacidad"></div>
                            <div class="col"><img width="70%" src="./../../assets/preguntaimg.jfif" alt="presona preguntandose algo"></div>
                            <div class="col"><img width="70%" src="./../../assets/transparienciaimg.png" alt="lupa grande"></div>
                       </div>
                       <div class="row">
                        <div class="col text-center"><h5>Discapacidad</h5></div>
                        <div class="col text-center"><h5>Otros Organismos</h5></div>
                        <div class="col text-center"><h5>Balance Anual</h5></div>
                       </div>
                       <div class="row">
                        <div class="col text-center"><p>Leyes sobre las discapacidades</p></div>
                        <div class="col text-center"> <p>¿Dónde me debo dirigirme si....?</p></div>
                        <div class="col text-center"><p>Transparencia</p></div>
                       </div>
                    </picture>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-light">MÁS INFO</button> </div>
                        </div>
            </section>
    
        </section> 
    </article>
