<div class="card mb-3 border-light mb-5">
    <img src="assets/portada Banner ALPIC.png" class="card-img-top" alt="frase de Marianne Williamson">
    <div class="card-body text-center ">
        <h2 class="fw-bold mb-3" style="color: #2A2D72;">¿Qué es A.L.P.I.C?</h2>
        <p class="card-text fs-5 mb-3" id="textoAlpic">Es la Asociación Civil de Lucha contra la Parálisis Infantil radicada en Cañada de Gómez, provincia de Santa Fe. </p>    
    </div>
</div>
<div class="container-fluid text-center py-4 px-0" style="background-color: #2a2d72 ;">
    <h3 style="color:#24799e;">PRÉSTAMOS</h3>
    <p class="fs-4" style="color:#fff;">Elementos ortopédicos</p>
    <a href="#" class="btn bg-light fs-5" style="color:#24799e; font-weight: bold;">SOLICITAR</a>
</div>
<div class="card" style="background-color:#24799e; border-radius: 0;">
    <div class="card-body">
      <h3 class="card-title text-center" style="color: #ffffff;">Nuestras Actividades e Institución</h3>
    </div>
    <img src="assets/banner2alpic.jpg" class="card-img-bottom" alt="actividades de Alpic" height="50%">
</div>

<div class="card-group m-5 gap-3">
    <div class="card border-light" >
        <img src="assets/leyes discapacidad.jpg" class="card-img-top img-fluid pb-5" alt="leyes de discapacidad" style="height:50%; width:auto;">
        <div class="card-body">
            <h3 class="card-title">Leyes sobre Discapacidad</h3>
            <p class="card-text fs-5">Aquí podras enterarte sobre qué leyes que existen relacionado a la discapacidad</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    <div class="card border-light" >
        <img src="assets/consulta.jpeg" class="card-img-top img-fluid pb-5" alt="leyes de discapacidad" style="height: 50%; width:auto;">
        <div class="card-body">
            <h3 class="card-title">Otros organismos</h3>
            <p class="card-text fs-5">Dónde debo dirigirme si...</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    <div class="card border-light" >
        <img src="assets/transparencia.png" class="card-img-top img-fluid pb-5" alt="transparencia" style="height: 50%; width:auto;">
        <div class="card-body">
            <h3 class="card-title">Balance Anual</h3>
            <p class="card-text fs-5">Resultados de un año de gran trabajo</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
</div>
